/* id는 단 하나만 존재 가능*/
#p1
{
  color: crimson;
  font-size: 50px;
}

h1
{
  font-size: 100px;
}

/*  class 값이 p1인 모든 요소 선택*/
.p1
{
  color: brown;
  font-size: 20px;
}

.p2
{
  font-style: italic;
  background-color: yellow;
  font-size: 50px;
}
